* {
  margin:0;
  padding: 0;
}



/*@media (max-width: 1250px) {*/

  body {
  font-family: 'Questrial', sans-serif;

  }

  button {
    font-family: 'Questrial', sans-serif;
  }

  a {
    color: #3fbdf5;
    text-decoration: none;
  }

  a:hover {
    color: #3fbdf5;
    text-decoration: underline;
  }

  .main {
    height: 100vh;
    display: table;
    position: relative;
    text-align: center;
    overflow: hidden;
  }

  .display {
    display: table-cell;
    vertical-align: middle;
    font-family: 'Oregano';

  }

  .main .display-name  {
    width: 96vw;
    font-size: 30em;
    font-family: 'Oregano';
    color: black;
  }

  .main .display-title {
    padding-bottom: .5em;
    font-size: 4em;
    margin-left: auto;
    margin-right: auto;
    font-family: 'Montserrat', 'Questrial';
    text-transform: uppercase;
    text-decoration: bold;
    color: #888;
  }

  .main .display-sections {
    font-family: 'Questrial';
    font-size: 2.5em;
  }

  .display-sections a {
    color: #444;
    text-decoration: none;
  }

  .main .display-section {
    font-family: 'Questrial';
    padding: .5em;
    display: inline-block;
    color: #444;
  }

  .about-me, .skills, .projects {
    display: table;
    position: relative;
    margin-left: auto;
    margin-right: auto;
    width: 97%;
    margin-top: 3em;
  }

  .projects {
    /*background: #ddd;*/
  }


  .about-sections, .skills-sections, .work-sections {
    display: table-cell;
    vertical-align: top;
    font-size: 3.5em;
  }

  .skills-details {
    margin: 1.5em;
    text-decoration: none;
    font-family: 'Questrial';
    color: #444;
    font-size: 2vw;
    line-height: 3vw;
    /*display: table;
    table-layout: fixed;*/
  }

  .skills-details h2 {
    font-family: 'Montserrat';
    color: black;
    font-size: 3vw;

  }

  .web-dev, .adobe, .strat-comm {
    margin: 1em;


  }

  .about-me {
    /*background: blue;*/
  }


  .skill{
    display: inline-block;
    margin-right: .25em;
  }







  .wrapper {
    text-align: center;
    background: white;
    color: black;
    font-family: 'Questrial';
    font-weight: normal;
    font-style: normal;
    /*position: absolute;
    bottom: 0;
    top:0;
    left: 0;
    right: 0;*/
    /*margin: .1em;*/
    /*height: 100vh;*/
  }

  .about-sections {
    padding: .5em;
  }

  .about-title {
    font-size: 2.5em;
    margin: 0 auto 0 auto;
    color: #F15D58 ;
    font-family: 'Montserrat', 'Questrial';

  }

  .skills-title {
    font-size: 2.5em;
    margin: .25em auto 0 auto;
    color: #F15D58 ;
    font-family: 'Montserrat', 'Questrial';
  }

  .work-title  {
    font-size: 2.5em;
    margin: .25em auto 0 auto;
    color: #F15D58;
    font-family: 'Montserrat', 'Questrial';
  }

  .name {

    text-align: center;

  }

  .pic {
    display: inline-block;
    margin: .25em;
  }

  .about-pic {
    max-width: 8em;
    border: none;
    border-radius: 50%;
    margin-top: 1em;


  }

  .my-name {
    font-size: 1.25em;
    color: #124b66;
    display: inline-block;
    /*padding: .5em .25em;*/
    font-family: 'Montserrat';
    text-transform: lowercase;
    text-align: center;
    letter-spacing: .1em;
  }

  .filler {
    font-size: .25em;
  }

  .msg {
    margin-top: .5em;
    letter-spacing: 0;
    font-family: 'Montserrat';
    /*text-align: left;*/
    text-transform: none;


  }

  .msg-title {
    margin-bottom: .75em;
    letter-spacing: .1em;
    color: black;
  }

  .msg-content {
    margin-bottom: .5em;
    font-size: 3vw;
    color: #888;

  }

  .msg-content div {
    color: #444;

    font-size: 3vw;
    /*display: inline-block;*/
  }

.iron-yard {
  margin-top: .5em;
}


  .summary {
    font-size: .7em;
    margin: 1em 3em;
    text-align: justify;
    color: black;
  }



  .edu {
    font-size: 5vw;
    font-family: 'Montserrat';
    padding-top: .5em;
    padding-bottom: .25em;
    color: #0d384c;
  }

  .duke, .iron-yard {
    font-size: .6em;
    padding: .3em;
    color: #444;
    font-family: 'Montserrat';

  }

  .duke em, .iron-yard em {
    font-size: .8em;
    display: block;
    color: #888;
    text-transform: none;
    line-height: 1em;
    font-family: 'Questrial';


  }

  .about-text {
    margin-bottom: 2em;
  }



  .title {
    font-size: 3vw;
    color: #41D4CF;
  }


.icons {
  display: inline-block;
  margin-top: 1em;
  color: #2293CB;
}

  .icon-email {
    display: inline-block;
    font-size: 8vw;
    /*margin: -.5em 1em 0 .5em;*/
    cursor: pointer;
    text-decoration: none;
    color:  #444;
  }
  .icon-linkedin {
    display: inline-block;
    font-size: 8vw;
    margin: 0 .25em 0 .25em;
    /*margin: 0 .5em 1.2em .5em;*/
    padding-bottom: .5em;
    cursor: pointer;
    color: #444;
    text-decoration: none;

  }




  .icon-github {
    display: inline-block;
    font-size: 8vw;
    /*margin: 0 .5em 0 .5em;*/
    cursor: pointer;
    color:  #444;
    text-decoration: none;
  }

  .icon-linkedin:hover,
  .icon-linkedin:active,
  .icon-email:hover,
  .icon-email:active,
  .icon-github:hover,
  .icon-github:active {
    color:#0d384c ;
  }

  .work-details {
    margin-top: 1em;
  }


  .project-title {
    color: #124b66;
    font-size: 2em;
    margin-top: 1.5em;
  }

  .project-description {
    font-size: .75em;
    padding: 1em 2em;
    color: #777;
    line-height: 1.2em;
  }



  .appt-app {
    margin-bottom: 1em;
  }

  .project-summary {
    margin: 1em 2em 0;
    font-size: 1em;
    color: #444;
  }


  .project-links {
    color: #ddd;
    font-size: .75em;
    margin: .5em 0 0;
  }

  .project-links a {
    color: #3fbdf5;
    padding: .5em;
  }


  .health-accountable .project-title {
    margin-top: 0;
    margin-top: .5em;
  }



  /* css only show/hide

 */


* {
    margin: 0;
    padding: 0;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
}


.project-links-container {
    position: relative;
    margin: 3em 0 0;
}


.project-links-container .project-description {
    display: none;
    visibility: hidden;
}


input[type=checkbox] {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    width: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
}

label[for="health_account"],
label[for="mem_game"],
label[for="appt_app"]  {
    position: absolute;
    top: -5vw;
    left: 0;
    width: 100%;
    text-align: center;
    /*padding: .65rem;*/
    cursor: pointer;
    color: #3fbdf5;
}

label[for="health_account"]:active {
    color: #0d384c;
}

label[for="health_account"] span:last-of-type,
label[for="mem_game"] span:last-of-type,
label[for="appt_app"] span:last-of-type  {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ .section {
    display: block;
    visibility: visible;
    width: 100%;
}

/*input[type=checkbox]:checked {
   width: 100%;
}*/

input[type=checkbox]:checked ~ [for="health_account"] span:first-of-type,
input[type=checkbox]:checked ~ [for="mem_game"] span:first-of-type,
input[type=checkbox]:checked ~ [for="appt_app"] span:first-of-type {
    display: none;
    visibility: hidden;
}

input[type=checkbox]:checked ~ [for="health_account"] span:last-of-type,
input[type=checkbox]:checked ~ [for="mem_game"] span:last-of-type,
input[type=checkbox]:checked ~ [for="appt_app"] span:last-of-type {
    display: block;
    visibility: visible;
    color: #0d384c;
}


.project-description h2 {
  font-size: 1em;
  font-family: 'Montserrat';
  color: #555;
  margin-top: 1em;
}

.project-tech {
  color: #777;
  margin: 0 4.5em;
}



/*}*/


@media (max-width:1250px) {

    .main .display-name  {
      width: 96vw;
      font-size: 35vw;
    }

    .main .display-title {
      font-size: 4.5vw;
    }

    .main .display-sections {
      font-size: 3vw;
    }

    .main .display-section {
      font-size: 3.25vw;
    }

    .about-sections, .skills-sections, .work-sections {
      font-size: 4vw;
    }

    .skills-details {
      font-size: 2vw;
      line-height: 3vw;
    }

    .about-me, .skills, .projects {
      height: 100vh;
      margin: 0;
    }

    .my-name {
      font-size: 6vw;
    }

    .filler {
      display: block;
      font-size: .5em;
    }

    .summary {
      font-size: 3vw;
      margin: 1em 3em;
    }

    .duke, .iron-yard {
      font-size: 3vw;
    }

    .duke em, .iron-yard em {
      font-size: 2.75vw;
      line-height: 2.75vw;
    }


      .about-title {
        font-size: 13vw;


      }

      .skills-title {
        font-size: 13vw;
        margin: .5em auto 0 auto;

      }

      .work-title  {
        font-size: 13vw;
        margin: .5em auto 0 auto;

      }

      .project-title {
        font-size: 7vw;
      }

      .health-accountable .project-title {
        margin-top: 0;
        margin-top: .5em;
      }



}



@media (max-width: 750px) {

  .main .display-sections {
    padding: .75em;
  }

  .skills-details {
    font-size: 3vw;
    line-height: 4vw;
  }

  .skills-details h2 {
    font-size: 4vw;
    line-height: 7vw;
  }


  .about-title, .skills-title, .work-title {

    margin-top: .5em;
  }

  .project-links-container {
      margin-top: 3em;
      font-size: 6vw;

  }

  .project-links {
      font-size: .75em;
      line-height: 2em;
  }

  .project-tech {
    color: #777;
    margin: 0 1.5em;
  }


}



@media  (max-device-width: 600px) {

  * {
    font-size: 2em;
  }

  .skills-details {
    font-size: 4vw;
    line-height: 5vw;
  }

  .skills-details h2 {
    font-size: 5vw;
    line-height: 7vw;
  }

  .about-title, .skills-title, .work-title {
    font-size: 15vw;
    /*margin-top: 1.5em;*/


}

.skills-title {
  margin-top: 1.5em;
}

.msg-title {
  font-size: 3vw;
  margin-bottom: .75em;
}

.msg-content {
  margin-bottom: .5em;
  font-size: 4vw;

}

.msg-content div {
  font-size: 4vw;
  display: block;
}

.summary {
  font-size: 4.5vw;
  margin: 1em 1.75em;
}



  .duke, .iron-yard {
    font-size: 4vw;
    padding: .3em;
    color: #0d384c;
    font-family: 'Montserrat';
    line-height: 4.5vw
  }

  .duke em, .iron-yard em {
    font-size: 3.5vw;
    display: block;
    color: #888;
    text-transform: none;
    letter-spacing: .1em;
    font-family: 'Questrial';
    line-height: 4vw
  }




    .my-name {
      padding: 0;
      width: 15em;

    }

    .about-title {
      margin-bottom: .25em;
    }

    .about-pic, .pic {
      display: block;
      margin-right: auto;
      margin-left: auto;
      margin-bottom: 1em;
    }

    .about-pic {
      max-width: 10em;
    }

    .about-me, .skills, .projects {
      height: 100vh;
      margin: 0;
    }

    .project-title {
      font-size: 9.5vw;
      margin-top: 2em;
    }

    .health-accountable .project-title {
      margin-top: 0;
      margin-top: .75em;
    }

    .project-links-container {
        margin-top: 3em;
        font-size: 6vw;

    }

    .project-links {
        font-size: .75em;
        line-height: 2em;
    }

    .project-summary {
      font-size: 5vw;
    }




}
