* {
  margin:0;
}

body {

font-family: 'Questrial', sans-serif;
}

button {
  font-family: 'Questrial', sans-serif;
}

h3 {
  font-size: 6vw;
}


.main {
  height: 100vh;
  display: table;
  position: relative;
  text-align: center;
  overflow: hidden;
}

.display {
  display: table-cell;
  vertical-align: middle;
  font-family: 'Oregano';
}

.main .display-name  {
  width: 100vw;
  font-size: 40vw;
  font-family: 'Oregano';
  color: black;
}

.main .display-title {
  padding-bottom: .5em;
  font-size: 5vw;
  margin-left: auto;
  margin-right: auto;
  font-family: 'Montserrat', 'Questrial';
  text-transform: uppercase;
  text-decoration: bold;
  color: #888;
}

.main .display-sections {
  font-family: 'Questrial';
  font-size: 3vw;
}

.display-sections a {
  color: #444;
  text-decoration: none;
}

.main .display-section {
  font-family: 'Questrial';
  font-size: 3.25vw;
  padding: .5em;
  display: inline-block;
  color: #444;
}

.about-me, .resume, .projects {
  height: 100vh;
  display: table;
  position: relative;
  margin-left: auto;
  margin-right: auto;
}


.about-sections, .resume-sections, .work-sections {
  display: table-cell;
  vertical-align: middle;
  font-size: 4vw;
}

.summary {
  font-size: 3vw;
  margin: 3em;
}

.msg {
  margin: 1em;

  font-size: 5vw;

}

.edu {
  font-size: 4vw;
  font-family: 'Montserrat';
  padding-top: 1em;
  padding-bottom: .5em;
  text-transform: uppercase;
}

.duke, .iron-yard {
  font-size: 3vw;
  padding: .3em;
}

.duke em, .iron-yard em {
  font-size: 2vw;
  display: block;
}

.wrapper {
  text-align: center;
  background: white;
  color: black;
  font-family: 'Questrial';
  font-weight: normal;
  font-style: normal;
  /*position: absolute;
  bottom: 0;
  top:0;
  left: 0;
  right: 0;*/
  margin: .1em;
  /*height: 100vh;*/
}

.name, .resume-title, .work-title {
  font-size: 10vw;
  margin: 1em auto 0 auto;
  color: #F15D58 ;
  font-family: 'Montserrat', 'Questrial';
}

.title {
  font-size: 3vw;
  color: #41D4CF;
}


.icon-email {
  display: inline-block;
  font-size: 8vw;
  /*margin: -.5em 1em 0 .5em;*/
  cursor: pointer;

}
.icon-linkedin {
  display: inline-block;
  font-size: 6vw;
  margin: .5em .5em 0 .5em;
  cursor: pointer;


}


.icon-github {
  display: inline-block;
  font-size: 8vw;
  margin: .5em .5em 0 .5em;
  cursor: pointer;

}


/*.icon-linkedin,
.icon-instagram {
  display: inline-block;
  font-size: 6vw;

}*/

.menu-item a {
  color: black;
  text-decoration:none;
}

.menu-container {
  position: relative;
  /*Affects dropdown positioning
  and talks to .menu-content positioning*/
}

.menu-action {
  background: white;
  /*padding: 0.5em;*/
  border: none;
  color: #444;
  font-size: 4vw;
  text-decoration: bold;
  outline:none;
  cursor: pointer;
  font-family: "Questrial", sans-serif;
  /*box-shadow: 0 0 1px #888888;*/
}


.menu-content {
  position: absolute;
  top:1em;
  left: 0;
  display: inline-block;
  /*Controls the dropdowns positioning to button*/

  visibility: hidden;
  opacity: 0;

  font-size: 0.75em;
  text-align: left;
  text-decoration:none;


  min-width: 12em;
  padding: 0;
  background: transparent;



  list-style-type: none;
  /*Look this up*/

  /*border: 1px solid #777;*/
  /*border around the hidden dropdown*/



  transition: all 0.15s;
  /*look into ^, why is all needed?*/


}

.menu-show .menu-content {
  visibility: visible;
  opacity: 1;
  top: 0;
  /*left: 2em;*/
}

.menu-item {
  padding: 0.50em;
  /*border-radius: 50%;*/
  /*affects spacing between dropdown items*/
  /*border: 1px solid #777;*/
  /*padding: 1em;
  margin: 1em;*/
  background: white;
}

li a {
  display: inline-block;
}



/*.menu-item + .menu-item {
  border-top: 1px solid #777;
  created the lines separating the dropdown items
  think it is the border padding between the items
}*/


/*
h1 {
  font-size: 3.25em;
  font-family: 'WarenhausTypenhebelStandard', 'Special Elite';
  margin: .25em;
}


.title {
  margin-bottom: .75em;
  font-size: 1.25em;
}


.portfolio {
  margin-bottom: .75em;
}

a {
  color: black;
  font-size: 1.25em;
  font-weight: 700;
}

.icon-waves {
  margin-top: .5em;
  font-size: 5em;
}

.coming-soon {
  margin: 0 auto 2em auto;
  width: 5em;
  font-size: .9em;

  line-height: 1.25em;
}*/


/*
@media (max-width: 2000px) {

  .wrapper {
    font-size: 1.5em;
    padding: 1.5em 0 1em 0;
    margin-top: 1em;
    padding-top: 1em;

  }

  .icon-burst-new {
    margin-top: 1.5;
  }

}


@media (max-width: 800px) {

  .wrapper {
    font-size: 1.4em;
    padding: 1.5em 0 1em 0;
  }

}

@media (max-width: 700px) {

  .wrapper {
    font-size: 1.3em;
    padding: 2em 0 1em 0;

  }
}

@media (max-width: 500px) {

  .wrapper {
    font-size: 1.1em;
    padding: 2em .5em 1em .5em;;

  }
}

@media (max-width: 390px) {

  .wrapper {
    font-size: 1em;
    padding: 3em 0 2em 0;
  }

  .icon-waves {
    font-size: 6em;
  }
}


@media (max-width: 350px) {
  .wrapper {
    font-size: .75em;
    padding: 2em 1em 2em 1em;

  }
}*/


/*.wrapper2 {
  height: 100vh;
}*/

@-ms-viewport{
  width: device-width;
}


@media (max-width: 600px) {

  .main .display-sections {
    padding: .75em;
  }

}



.duke, .iron-yard {
  text-decoration: bold;
}
